<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="account" value="D:\FlyffDev\Ketchup\Server\Program\1.Account.exe"/>
    <add key="certifier" value="D:\FlyffDev\Ketchup\Server\Program\2.Certifier.exe"/>
    <add key="database" value="D:\FlyffDev\Ketchup\Server\Resource\3.Database.exe"/>
    <add key="core" value="D:\FlyffDev\Ketchup\Server\Program\4.Core.exe"/>
    <add key="login" value="D:\FlyffDev\Ketchup\Server\Program\5.Login.exe"/>
    <add key="cache" value="D:\FlyffDev\Ketchup\Server\Program\6.Cache.exe"/>
    <add key="world" value="D:\FlyffDev\Ketchup\Server\Resource\7.World.exe"/>
    <add key="client" value="D:\FlyffDev\Ketchup\Client\start.bat"/>

  </appSettings>
</configuration>